html, body {
	font-size: 18px;
	line-height: 27px;
	background-color: #7fa3bf;
}

.brand {
	font-size: 18px;
}

.showcase {
	position: relative;
	z-index: 1;
}
.showcase:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image:url('../images/boatbackground.jpg');
	background-position: center;
/*	background-repeat: no-repeat;
*/	height: 800px;
	padding: 140px 100px;
	color: #fff;
	opacity: 0.3;
}

.showcase h1{
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.cinzel {
	font-family: 'Cinzel', serif;
}
.zilla {
	font-family: 'Zilla Slab', serif;
	font-size: 22px;
}

.topMargin {
	margin-top: 30px;
}

.style4{
		font-family: 'Droid Serif', serif;
		font-size: 20pt;
		font-weight: 700;
}

.style5{
		font-family: 'Droid Serif', serif;
		font-size: 16pt;
		font-weight: 400;
}